<div class="form-style-2"></div>
  <div class="form-style-2-heading">Liste des matériels</div>
  <table class="tabMaterial">
        <th>Nom</th>
        <th>IP</th>
        <th>MAC</th>
        <th>interface</th>
        <th>date</th>
        <th>status</th>
        <th>community</th>
      </tr>
    {%for m in materials%} 
      <tr>
        <td><a href="{{ url_for('get_SnmpText', name=m.name, ip=m.ip) }}">{{m.name}}</a></td>
        <td>{{m.ip}}</td>
        <td>{{m.mac}}</td>
        <td>{{m.interface}}</td>
        <td>{{m.date}}</td>
        <td>{{m.status}}</td>
        <td>{{m.community}}</td>
      </tr>
    {%endfor%} 
  </table>
  </div>