<div class="form-style-2"></div>
  <div class="form-style-2-heading">Tableau SNMP de {{ materialname}} </div>
  <table class="tabMaterial">
      <tr>
        <th>Interface Name</th>
        <th>Status</th>
        <th>In Octects</th>
        <th>Out Octects</th>
        <th>date</th>
        <th>Gragh</th>
      </tr>
        {% for r in records  %} 
        <tr>
          <td>{{r.ifname}}</td>
          <td>{{r.status}}</td>
          <td>{{r.inoctects}}</td>
          <td>{{r.outoctects}}</td>
          <td>{{r.timestamp}}</td>
          <td><a href="{{ url_for('get_SnmpGraph') }}">Voir graphique</a></td>
        </tr>
        {%endfor%} 
  </table>
</div>