<!DOCTYPE html>
<html lang="en">
<head>
<title>Projet SNMP</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/user.css') }}"/>
</head>
<body>

<div class="sidenav">
  <a class="highlight" href="#1">Chercher un fichier conf </a>
  <a href="#2">Lister les matétiels</a>
  <a href="#3">Voir un textuel</a>
  <a href="#4">Visualiser un graphie</a>
  <a href="#5">Consulter logs</a>

  {% if isAdmin == "True" %}
  <a href="#6">Admin Champ 1</a>
  <a href="#7">Admin Champ 2</a>
  {% endif %}
</div>

<div class="content">
  <h2>Supervision SNMP</h2>
  <h1>Hello</h1>
  <p>une application de survelliance</p>
  <input type = "button" onclick = "sayHello()" value = "Say Hello" />

  

</div>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/jquery.js') }}">\x3C/script>')</script>
<script type="text/javascript" src="{{ url_for('static',filename='js/user.js') }}"></script>
