<!DOCTYPE html>
<html lang="en">
<head>
<title>Projet SNMP</title>
<meta charset="utf-8">
<meta http-equiv="refresh" content="65" >
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/user.css') }}"/>
</head>
<body>

<div class="sidenav">
  <a href="{{ url_for('get_data') }}">Lister les matériels</a>
  <a href="{{ url_for('get_log_event') }}">Consulter logs Event</a>
  <a href="{{ url_for('get_log_record') }}">Consulter logs Record</a>
  <a class="highlight" href="#1">Chercher une conf </a>
  {% if admin %}
  <a href="{{ url_for('get_form') }}">Manipuler une conf  </a>
  <a href="{{ url_for('get_form') }}">Importer les matériels  </a>
  {% endif %}
</div>

<div class="content">
  <a href="{{ url_for('logout') }}"><input class="btnLogout" type="submit" value="logout" /></input></a>
  {% if get_form %}
  <div class="form-style-2">
    <div class="form-style-2-heading">Manipuler un matériel</div>
    <form {% if materialToModify %} action="{{ url_for('update_data', id=materialToModify.id) }}" {% else %} action="{{ url_for('add_data') }}" {% endif %} method="post">
    <label for="field1"><span>nom <span class="required">*</span></span><input type="text" class="input-field" name="name" {% if materialToModify %} value="{{ materialToModify.name }}"{% endif %}/></label>
    <label for="field2"><span>adresse ip <span class="required">*</span></span><input type="text" class="input-field" name="ip"  {% if materialToModify %} value="{{ materialToModify.ip }}"{% endif %}/></label>
    <label for="field2"><span>adresse mac <span class="required">*</span></span><input type="text" class="input-field" name="mac"  {% if materialToModify %} value="{{ materialToModify.mac }}"{% endif %}/></label>
    <label for="field2"><span>interface <span class="required">*</span></span><input type="text" class="input-field" name="interface"  {% if materialToModify %} value="{{ materialToModify.interface }}"{% endif %}/></label>
    <label for="field2"><span>date ajoute <span class="required">*</span></span><input type="text" class="input-field" name="date"  {% if materialToModify %} value="{{ materialToModify.date }}"{% endif %}/></label>
    <label for="field2"><span>status <span class="required">*</span></span><input type="text" class="input-field" name="status"  {% if materialToModify %} value="{{ materialToModify.status }}"{% endif %}/></label>
    <label for="field2"><span>community <span class="required">*</span></span><input type="text" class="input-field" name="community"  {% if materialToModify %} value="{{ materialToModify.community }}"{% endif %}/></label>
    <label><span></span><input type="submit" value="Valider" /></label>
    </form>
  </div>
  {% endif %}

  {% if get_data and admin %}
  {% include 'tabConfAdmin.html'%}
  {% elif get_data %}
  {% include 'tabConf.html'%}
  {% endif %}

  {% if get_log_event %}
  {% include 'tabLogEvent.html'%}
  {% endif %}

  {% if get_log_record %}
  {% include 'tabLogRecord.html'%}
  {% endif %}

  {% if get_tabSnmp %}
  {% include 'tabSnmp.html'%}
  {% endif %}

  {% if graph_data_inOctects %}
  <embed type="image/svg+xml" src={{graph_data_inOctects|safe}} style='max-width:1000px'/>
  {% endif %}
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/user.js') }}"></script>
</html>

